.index-cover {
    margin-top: 10%;

}

.profile-image {
    /*-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    width: auto;
    height: auto;
    border-radius: 100%;
    overflow: hidden;
    padding: 6px;
    background: #000;
    box-shadow: #E7EEF2 0 0 0 1px;*/
    margin-top: 5%;
}

#gravatar-img {
    position: relative;
    /*margin-left: -8px;
    margin-top: -8px;*/
}

.greeting {
    margin-top: 10%;
    /*margin-left: 5%;
    float: left;*/
}

.special-h2 {
    font-size: 18px;
    font-weight: 300;
    color: #666;
}

#twitter-widget-0 {
    width: 100%;
}

@media (max-width: 768px) {
    .latest-work {
        margin-bottom: 10%;
    }
}

@media (min-width: 992px) {
    .latest-updates{
        margin-top: 5%;
    }
}
