.index-cover {
    margin-top: 10%;
}

.profile-image {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    width: 240px;
    height: 240px;
    border-radius: 100%;
    overflow: hidden;
    padding: 6px;
    background: #fff;
    z-index: 2;
    box-shadow: #E7EEF2 0 0 0 1px;
}

#gravatar-img {
    position: relative;
    margin-left: -8px;
    margin-top: -8px;
}

.greeting {
    margin-top: 5%;
    margin-left: 5%;
    float: left;
}
