---
layout: page
title: Whoa!
permalink: /404.html
---

<div class="cover-container">

    <div class="inner">
        <h3 class="masthead-brand"></h3>
    </div>

    <div class="inner cover">
        <img src="/images/MGS_Exclamation_Mark_Icon.png"></img>
        {% for num in (1..3) %}
          <br/>
        {% endfor %}

        <div style="text-align:justify;">
            <p>
                Looks like this page has more stealth than Big Boss (aka 404 Page Not Found)! Snake and FoxHound are on it.
                <br/>
                <br/>
                In the meantime, try checking the URL or navigate using the navbar on this page.
                <br/>
            </p>
        </div>

        <img class="img-responsive img-rounded" alt="Big Boss is leading the charge" src="http://i.imgur.com/bpoz47r.png" />

        {% for num in (1..2) %}
        <br/>
        {% endfor %}

    </div>

</div>
