---
layout: default
title: Varun Agrawal Online
---

<div class="container">

    <div class="row">
        <div class="col-md-4 ml-auto">
            <img style="margin: 0px 0 0px 0;"
                 id="gravatar-img"
                 src="https://www.gravatar.com/avatar/cc856652c4db97f4eacc9bffa6540ece?s=200"
                 class="rounded"
            />
        </div>

        <div class="col-md-4 mr-auto d-flex align-items-center">

            <div align="left">
                PhD Student <br/>
                School of Interactive Computing <br/>
                Georgia Institute of Technology <br/><br/>
                Email <a data-toggle="tooltip"
                         data-placement="right"
                         title="without spaces">varunagrawal @ gatech.edu</a><br/>

                <nav class="nav">
                    <a 
                    class="nav-link col-2"
                    href="https://scholar.google.com/citations?user=SdGXagwAAAAJ&hl=en" 
                    target="_blank"
                    data-toggle="tooltip"
                    data-placement="bottom"
                    title="Google Scholar">
                        <i class="ai ai-google-scholar ai-2x"></i>
                    </a>
                    <a 
                    class="nav-link col-2" 
                    href="https://github.com/varunagrawal" 
                    target="_blank"
                    data-toggle="tooltip"
                    data-placement="bottom"
                    title="Github">
                        <i class="fa fa-github fa-2x"></i>
                    </a>
                    <a 
                    class="nav-link col-2" 
                    href="https://twitter.com/varagrawal" 
                    target="_blank"
                    data-toggle="tooltip"
                    data-placement="bottom"
                    title="Twitter">
                        <i class="fa fa-twitter fa-2x"></i>
                    </a>
                    <a 
                    class="nav-link col-2" 
                    href="https://www.linkedin.com/profile/view?id=61560906"
                    target="_blank"
                    data-toggle="tooltip"
                    data-placement="bottom"
                    title="LinkedIn">
                        <i class="fa fa-linkedin-square fa-2x"></i>
                    </a>

                    <a
                    class="nav-link col-2" 
                    href="resume/resume.pdf"
                    target="_blank"
                    data-toggle="tooltip"
                    data-placement="bottom"
                    title="Resume">
                        <i class="fa fa-user fa-2x"></i>
                    </a>
                </nav>

            </div>



        </div>

        <!--<div class="col-md-4"></div>-->
        <!--<div>-->
        <!--<img src="images/GeorgiaTechLogo-black-gold.png"-->
        <!--class="img-thumbnail" style="width:70%;"/>-->
        <!--</div>-->

    </div>

    <br/>
    <!--<hr class="col-8"/>-->

    <div class="row">
        <div class="col col-md-8 ml-md-auto mr-md-auto">

            I am a Robotics PhD student in the <a href="https://www.ic.gatech.edu/">School of Interactive Computing at Georgia Tech</a> advised by <a href="https://dellaert.github.io/" target="_blank">Prof. Frank Dellaert</a>.

            <br/><br/>
            My areas of research are Robotics, Perception, and Autonomy. I am particularly interested in mobile robot autonomy and the mathematical tools and techniques to enable this.

            <br/><br/>
            Currently, I am focused on proprioceptive state estimation of legged robots using concepts from machine learning and nonlinear control. Robot dynamics are intuitive constraints since they obey nature's laws, thus being able to model the observable and the latent processes underlying legged locomotion, we can extract useful information about the robot's state without the need for exterioceptive sensors such as cameras.

            <br/><br/>
            I am also a maintainer of <a href="https://github.com/borglab/gtsam" target="_blank">GTSAM</a>, an industrial-strength factor graph library for robotics, as well as its sister projects (e.g. <a href="https://github.com/borglab/gtdynamics/" target="_blank">GTDynamics</a>).

        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col col-md-8 ml-md-auto mr-md-auto">
            <b>Office</b> - 1332, Klaus Advanced Computing Building<br/>
        </div>
    </div>

    <hr class="col-8"/>
    <br/>
    
    <div class="row">
        <div class="col col-md-8 ml-md-auto mr-md-auto">
            <h6>Latest Updates</h6>
            <div>
                <ul>
                    {% for update in site.data.updates %}
                    <li>{{update}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <!--<div class="latest-work col-6 d-flex justify-content-center">-->
        <!--<div>-->
        <!--<iframe src="https://githubbadge.appspot.com/varunagrawal"-->
        <!--style="border: 0;height: 142px;width: 200px;overflow: hidden;" frameBorder="0"></iframe>-->
        <!--</div>-->

        <!--<section id="downloads">-->
        <!--<a href="https://github.com/varunagrawal" class="btn btn-github">-->
        <!--<span class="icon"></span>View on GitHub</a>-->
        <!--</section>-->
        <!--</div>-->

    </div>

    <!--{% include twitter.html %}-->

    <br/>

    <div class="row">
        <div class="col col-md-8 ml-auto mr-auto">
            <h6>Teaching</h6>
            <ul>
                <li><b>OMSCS 6475 Computational Photography</b>, TA with Prof. Irfan Essa</li>
                <li><b><a href="https://www.cc.gatech.edu/~hays/compvision/">CS 4476/6476 Fall 2017</a> Computer Vision</b>, TA with Prof. James Hays</li>
                <li><b>CS 4476/6476 Fall 2016 Computer Vision</b>, TA with Prof. James Hays</li>
            </ul>
        </div>
    </div>

    <br/>

    <br/>

    <div class="col d-flex justify-content-center">
        <div class="inner">
            <i class="fa fa-code" aria-hidden="true"></i> with <a href="https://getbootstrap.com" target="_blank">Bootstrap</a>, <a
                href="https://jekyllrb.com/" target="_blank">Jekyll</a> and <i class="fa fa-heart" aria-hidden="true"></i>
        </div>
    </div>

</div>
