---
layout: page
title: Publications
permalink: /publications/
---

<div class="cover-container">

    <div class="inner">
        <h3 class="masthead-brand"></h3>
    </div>

    <ul class="inner cover">
        {% for paper in site.data.publications %}
        <li>
            <b>{{paper.title}}{% if paper.type %}, {{paper.type}}{% endif %}</b>
            <br/>
            {{paper.authors}}
            <br/>
            <i>{{paper.venue}}</i>
        </li>
        <br/>
        {% endfor %}
    </ul>


</div>
