---
layout: page
title: Research
permalink: /research/
---

<div class="row">
    <div class="col-10 ml-auto mr-auto">
        <ul class="">
            {% for paper in site.data.publications %}
            <li>
                <b>{{paper.title}}{% if paper.type %}, {{paper.type}}{% endif %} {% if paper.link %}[<a href="{{paper.link}}">link</a>]{% endif %}</b>
                <br/>
                {{paper.authors}}
                <br/>
                <i>{{paper.venue}}</i>
            </li>
            <br/>
            {% endfor %}
        </ul>
    </div>
</div>
