---
// TODO: Generate a page for each tag as described in https://docs.astro.build/en/tutorial/5-astro-api/2/#advanced-javascript-generate-pages-from-existing-tags
import DefaultLayout from "../../layouts/default.astro";

// Glob all Markdown files in `blog` directory.
const posts = Object.values(import.meta.glob("./*.md", { eager: true }));

// Get the set of unique tags, sorted alphabetically.
const tags = [
  ...new Set(posts.map((post: any) => post.frontmatter.tags).flat()),
].sort((a: string, b: string) => a.localeCompare(b));
---

<DefaultLayout title="Tags">
  <div class="row">
    <div class="col-8 mx-auto">
      {
        tags.map((tag: string) => {
          const filteredPosts = posts.filter((post: any) =>
            post.frontmatter.tags.includes(tag)
          );
          return (
            <div>
              <h5>{tag}</h5>
              <ul>
                {filteredPosts.map((filteredPost: any) => (
                  <li>
                    <a href={filteredPost.url}>
                      {filteredPost.frontmatter.title}
                    </a>
                  </li>
                ))}
              </ul>
            </div>
          );
        })
      }
    </div>
  </div>
</DefaultLayout>
