<div class="navbar-wrapper">
    <div class="container">

        <nav class="navbar navbar-dark bg-inverse navbar-static-top" role="navigation">

            <div class="container">
                <a class="navbar-brand" href="/">Varun Agrawal</a>
                <ul class="nav navbar-nav">
                    {% for link in site.data.navbar %}
                    <li class="nav-item {% if page.url == link.url %}active{% endif %}"><a class="nav-link" href="{{ link.url }}" {% if link.external %}target="_blank"{% endif %}>{{ link.title }}</a></li>
                    {% endfor %}
                </ul>


                <ul class="nav navbar-nav pull-xs-right">
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Blogs <span class="caret"></span></a>
                        <div class="dropdown-menu inverse-dropdown" role="menu">
                            <a class="dropdown-item" href="https://computercalledvarun.wordpress.com/" target="_blank">Tech</a>
                            <a class="dropdown-item" href="https://varunagrawal.wordpress.com/" target="_blank">Personal</a>
                        </div>
                    </li>
                </ul>
            </div>

        </nav>

    </div>
</div>
