<div class="navbar-wrapper">
    <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/index.html">Varun Agrawal</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li {% if page.title == "Varun Agrawal Online" %}class="active"{% endif %}><a href="{{ page.url | prepend: site.baseurl }}">Home</a></li>
                        <li {% if page.title == "About" %}class="active"{% endif %}><a href="/about/">About</a></li>
                        <li {% if page.title == "Projects" %}class="active"{% endif %}><a href="/projects/">Projects</a></li>
                        <li {% if page.title == "Contact" %}class="active"{% endif %}><a href="/contact/">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>

    </div>
</div>
