<div id="twitter-feed" class="col-xs-12 col-sm-12 col-md-6 twitter-embed">
    <a class="twitter-timeline" href="https://twitter.com/varagrawal" data-widget-id="582848479929618432">Tweets
        by @varagrawal</a>
    <script>
        !function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0],
                p = /^http:/.test(d.location) ? 'http' : 'https';
            if (!d.getElementById(id)) {
                js = d.createElement(s);
                js.id = id;
                js.src = p + "://platform.twitter.com/widgets.js";
                fjs.parentNode.insertBefore(js, fjs);
            }
        }(document, "script", "twitter-wjs");
    </script>
</div>
