// Custom SASS for Varun Agrawal's personal website

.paper-title {
    /*Make the title text bold*/
    font-weight: 540;
    /*The title should not be a block*/
    display: inline;
}

a:link,
a:visited {
    color: #7A2021;
}

a.research:link, a.research:visited, a.research:hover {
    text-decoration: none!important;
    color: #e3d7d7;
    background: #C12228;
    font-size: 12px;
    padding: 2px 5px;
}

.venue {
    color: #781508;
}