// Custom SASS for Varun Agrawal's personal website

.paper-title {
    /*Make the title text bold*/
    font-weight: bolder;
    /*The title should not be a block*/
    display: inline;
}

a:link,
a:visited {
    color: #6a75ac;
}

a.research:link, a.research:visited, a.research:hover {
    text-decoration: none!important;
    color: #1c93a3;
    background: #fdfdfd;
    border: 1px solid #1c93a3;
    font-size: 12px;
    padding: 2px 5px;
}

.venue {
    // color: #1c93a3;
    color: #1c1c1d
}