// Custom SASS for Varun Agrawal's personal website

.paper-title {
    /*Make the title text bold*/
    font-weight: 540;
    /*The title should not be a block*/
    display: inline;
}

a:link,
a:visited {
    color: #36013F; // Deep Purple because I love that band.
}
