@charset "utf-8";

// Import partials
@use "base";
@use "syntax-highlighting";

// Bootstrap Icons
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

// Academicons https://jpswalsh.github.io/academicons/
@import url("https://cdn.rawgit.com/jpswalsh/academicons/master/css/academicons.min.css");
