---
import DefaultLayout from "../layouts/default.astro";
---

<DefaultLayout title="About Me">
  <div class="row">
    <div class="col-8 mx-auto">
      <div style="text-align:justify;">
        <p class="">
          I am a Robotics Padawan (a.k.a. PhD candidate) under Jedi master <a
            href="https://dellaert.github.io/"
            target="_blank">Frank Dellaert</a
          > at the <a href="https://www.ic.gatech.edu/" target="_blank"
            >School of Interactive Computing at Georgia Tech</a
          >. I am affiliated with the <a
            href="https://research.gatech.edu/robotics"
            target="_blank">Institute for Robotics and Intelligent Machines</a
          > and the <a href="https://ml.gatech.edu" target="_blank"
            >Machine Learning Center</a
          >. My areas of research are Robotics and Intelligent Autonomy. While
          my primary focus is on state estimation, I work on multiple areas of
          robotics such as Human Robot Interaction, Optimal and Learning based
          Control, and Perception. Along with being a researcher, I take great
          pride in developing useable and reliable systems that put our work
          into practice.
        </p>
        <br />

        <p class="">
          I received my Masters degree in Computer Science from Georgia Tech
          where my thesis was on Visual Attribute Labeling. I was advised by <a
            href="https://faculty.cc.gatech.edu/~hays/"
            target="_blank">Dr. James Hays</a
          > and collaborated with the incredible <a
            href="https://genp.github.io/"
            target="_blank">Dr. Genevieve Patterson</a
          >. Other projects of mine included enabling robots to track industrial
          parts in real time, industrial robot drivers to make working with them
          easier, and building online tools to enable and help student teaming.
          <br />
          For my efforts, I received the 2017 Marshall D. Williamson Fellowship for
          outstanding 2nd year MSCS student at Georgia Tech.
          <br />
          I completed my Bachelors degree in Computer Science and Engineering from
          <a href="http://svnit.ac.in" target="_blank">NIT Surat</a> where I was president
          of the ACM Chapter, growing the club to over 200 student members, and co-Chief
          Editor of the college newsletter <a
            href="https://www.renesasvnit.com/"
            target="_blank">Renesa</a
          > with the uber talented pair of <a
            href="https://www.linkedin.com/in/kailashamr/"
            target="_blank">Kailasham Ramalingam</a
          > and <a
            href="https://www.linkedin.com/in/swethanjasty/"
            target="_blank">Swethan Jasty</a
          >.
        </p>
        <br />
        <p class="">
          Professionally, I have spent time at <a
            href="https://www.skydio.com/"
            target="_blank">Skydio</a
          >, and the <a href="https://robots.ihmc.us/" target="_blank"
            >IHMC Robotics lab</a
          >, as well as a previous stint at
          <a href="https://www.microsoft.com/en-in/about/" target="_blank"
            >Microsoft Corp's Hyderabad office</a
          >, where I contributed to the Bing search engine and Enterprise Volume
          Licensing pipeline.
        </p>

        <p class="">
          In my spare time, I enjoy reading, basketball, music, and <a
            href="http://www.catb.org/esr/faqs/hacker-howto.html"
            target="_blank"
            data-toggle="tooltip"
            data-placement="top"
            title="As defined by Eric S. Raymond">hacking</a
          >. Do check out my blog for my latest musings, where I try to
          elucidate some non-trivial science and tech into regular tea-time
          reading.
        </p>
      </div>
    </div>
  </div>
</DefaultLayout>
