---
import DefaultLayout from "../layouts/default.astro";

import { getCollection } from "astro:content";

const posts = (await getCollection("posts")).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);
---

<DefaultLayout title="Blog">
  <div class="row">
    <div class="col-8 mx-auto">
      <h3 class="cover-heading">Blog Posts</h3>

      <p>
        <a href="/blog/tags">All tags</a>
      </p>

      {
        posts.map((post) => (
          <div>
            <div>
              <a href={`/blog/${post.id}`}>{post.data.title}</a>
            </div>

            <div>
              {new Intl.DateTimeFormat("en-GB", {
                day: "2-digit",
                month: "short",
                year: "numeric",
                timeZone: "Etc/GMT", // Use GMT time since no offset is specified
              }).format(post.data.date)}
            </div>

            <div>
              {post.data.tags.map((tag) => (
                <button class="btn btn-sm btn-outline-dark me-1" type="button">
                  {tag}
                </button>
              ))}
            </div>

            <br />
          </div>
        ))
      }
    </div>
  </div>
</DefaultLayout>
