---
import DefaultLayout from "../layouts/default.astro";
---

<DefaultLayout title="Fun Projects">
  <div class="row">
    <div class="col-9 ms-auto me-auto">
      Here are some fun things I've built which showcase my varied skillset.
    </div>

    <div class="col-9 ms-auto me-auto">
      <ul class="projects">
        <li>
          A simple round robin <a
            href="https://varunagrawal.github.io/match-scheduler/"
            target="_blank">Match Scheduler</a>
        </li>
        <li>
          A <a
            href="https://varunagrawal.github.io/pace-calculator/"
            target="_blank">Pace Calculator</a
          > for marathon training.
        </li>
      </ul>
    </div>
  </div>
</DefaultLayout>
