---
import DefaultLayout from "../layouts/default.astro";

import Card from "../components/card.astro";
import Bio from "../components/bio.astro";
import Office from "../components/office.astro";
import Updates from "../components/updates.astro";
import Teaching from "../components/teaching.astro";
---

<DefaultLayout title="Varun Agrawal Online">
  <div class="container">
    <Card />
    <br />

    <Bio />
    <br />

    <Office />
    <br />

    <hr class="col-8 ms-auto me-auto" />

    <Updates />

    <Teaching />
    <br />

    <div class="col d-flex justify-content-center">
      <div class="inner">
        <i class="bi bi-code-slash" aria-hidden="true"></i> with <a href="https://astro.build/" target="_blank">Astro</a>, <a
          href="https://getbootstrap.com"
          target="_blank">Bootstrap</a
        > and <i
          class="bi bi-heart-fill"
          aria-hidden="true"></i>
      </div>
    </div>
    <br />
  </div>
</DefaultLayout>
