---
import DefaultLayout from "../layouts/default.astro";

import Card from "../components/card.astro";
import Bio from "../components/bio.astro";
import Office from "../components/office.astro";
import Updates from "../components/updates.astro";
import Teaching from "../components/teaching.astro";
---

<DefaultLayout title="Varun Agrawal Online">
  <div class="container">
    <Card />
    <br />

    <Bio />
    <br />

    <Office />
    <br />

    <hr class="col-8 ms-auto me-auto" />

    <Updates />

    <Teaching />
    <br />
  </div>
</DefaultLayout>
