---

---

<div class="row">
  <div class="col-8 mx-auto" style="text-align:justify">
    <p>
      I am a PhD candidate in the <a href="https://www.ic.gatech.edu/"
        >School of Interactive Computing at Georgia Tech</a
      >, where I am gratefully advised by <a
        href="https://dellaert.github.io/"
        target="_blank">Prof. Frank Dellaert</a
      >.
    </p>

    <p>
      My areas of research are Robotics, Perception, and Autonomy. I am
      particularly interested in mobile robot autonomy and the mathematical
      tools and techniques to enable this.
    </p>

    <p>
      Currently, I am focused on proprioceptive state estimation of legged
      robots using concepts from machine learning and nonlinear control. Robot
      dynamics are intuitive constraints since they obey nature's laws, thus
      being able to model the observable and the latent processes underlying
      legged locomotion, we can extract useful information about the robot's
      state without the need for exterioceptive sensors such as cameras.
    </p>

    <p>
      I am also a maintainer of <a
        href="https://github.com/borglab/gtsam"
        target="_blank">GTSAM</a
      >, an industrial-strength factor graph library for robotics, as well as
      its sister projects (e.g. <a
        href="https://github.com/borglab/gtdynamics/"
        target="_blank">GTDynamics</a
      >).
    </p>
  </div>
</div>
