---

---

<div class="row align-items-center">
  <!-- Add column on left to evenly space out -->
  <div class="col-md-3"></div>
  <div class="col-8 col-md-3 mx-auto">
    <img
      id="gravatar-img"
      src="https://www.gravatar.com/avatar/cc856652c4db97f4eacc9bffa6540ece?s=200"
      class="rounded-3 img-fluid mx-auto d-block border-bottom"
    />
  </div>

  <div class="col-8 col-md-3 mx-auto">
    <div>
      Computer Science PhD Candidate <br />
      School of Interactive Computing <br />
      Georgia Institute of Technology <br /><br />
      Email <a
        data-toggle="tooltip"
        data-placement="right"
        title="without spaces">varunagrawal @ gatech.edu</a
      ><br />

      <nav class="nav flex-row">
        <a
          class="nav-link col-2"
          href="https://scholar.google.com/citations?user=SdGXagwAAAAJ&hl=en"
          target="_blank"
          data-toggle="tooltip"
          data-placement="bottom"
          title="Google Scholar"
        >
          <i class="ai ai-google-scholar ai-2x"></i>
        </a>
        <a
          class="nav-link col-2"
          href="https://github.com/varunagrawal"
          target="_blank"
          data-toggle="tooltip"
          data-placement="bottom"
          title="Github"
        >
          <i class="bi bi-github" style="font-size: 1.6em;"></i>
        </a>
        <a
          class="nav-link col-2"
          href="https://twitter.com/varagrawal"
          target="_blank"
          data-toggle="tooltip"
          data-placement="bottom"
          title="Twitter"
        >
          <i class="bi bi-twitter-x" style="font-size: 1.6em;"></i>
        </a>
        <a
          class="nav-link col-2"
          href="https://www.linkedin.com/in/varagrawal/"
          target="_blank"
          data-toggle="tooltip"
          data-placement="bottom"
          title="LinkedIn"
        >
          <i class="bi bi-linkedin" style="font-size: 1.6em;"></i>
        </a>

        <a
          class="nav-link col-2 me-auto"
          href="/varunagrawal_cv.pdf"
          target="_blank"
          data-toggle="tooltip"
          data-placement="bottom"
          title="CV"
        >
          <i class="bi bi-file-richtext" style="font-size: 1.6em;"></i>
        </a>
      </nav>
    </div>
  </div>
  <!-- Add column on right to evenly space out -->
  <div class="col-md-3"></div>
</div>
