---

---

<br />
<div class="col d-flex justify-content-center">
  <div class="inner">
    <i class="bi bi-code-slash" aria-hidden="true"></i> with <a
      href="https://astro.build/"
      target="_blank">Astro</a
    >, <a href="https://getbootstrap.com" target="_blank">Bootstrap</a> and <i
      class="bi bi-heart-fill"
      aria-hidden="true"></i>
  </div>
</div>
<br />

<!-- Bootstrap core JavaScript
===================================================
Placed at the end of the document so the pages load faster -->
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
  crossorigin="anonymous"></script>

<!-- Load MathJax -->
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [
        ["$", "$"],
        ["\\(", "\\)"],
      ],
      processEscapes: true,
    },
  });
</script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML"
  type="text/javascript"></script>
