---
// Custom styles for this template
import "../styles/main.scss";

const { title } = Astro.props;
---

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <meta name="description" content="Website of Varun Agrawal" />
  <meta name="author" content="Varun Agrawal" />

  <!-- Cool styling for mobile browsers-->
  <!-- Chrome, Firefox OS and Opera -->
  <meta name="theme-color" content="#191919" />
  <!-- Windows Phone -->
  <meta name="msapplication-navbutton-color" content="#4285f4" />
  <!-- iOS Safari -->
  <meta name="mobile-web-app-capable" content="yes" />
  <meta
    name="apple-mobile-web-app-status-bar-style"
    content="black-translucent"
  />

  <link
    rel="shortcut icon"
    type="image/png"
    href="https://robohash.org/varunagrawal"
  />

  <title>{title}</title>
  <meta
    name="description"
    content="This is the website of Varun Agrawal. Created by yours truly!"
  />

  <!-- TODO: Add RSS feed support -->

  <!-- Bootstrap CSS -->
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
    crossorigin="anonymous"
  />

  <!-- Nunito font - An alternative to Apple's fancy Avenir font -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
    rel="stylesheet"
  />

  <!-- Load KaTeX -->
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/katex@0.9.0/dist/katex.min.css"
    integrity="sha384-TEMocfGvRuD1rIAacqrknm5BQZ7W7uWitoih+jMNFXQIbNl16bO8OZmylH/Vi/Ei"
    crossorigin="anonymous"
  />
  <script
    src="https://cdn.jsdelivr.net/npm/katex@0.9.0/dist/katex.min.js"
    integrity="sha384-jmxIlussZWB7qCuB+PgKG1uLjjxbVVIayPJwi6cG6Zb4YKq0JIw+OMnkkEC7kYCq"
    crossorigin="anonymous"></script>

  <script>
    (function (i, s, o, g, r, a, m) {
      i["GoogleAnalyticsObject"] = r;
      ((i[r] =
        i[r] ||
        function () {
          (i[r].q = i[r].q || []).push(arguments);
        }),
        (i[r].l = 1 * new Date()));
      ((a = s.createElement(o)), (m = s.getElementsByTagName(o)[0]));
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m);
    })(
      window,
      document,
      "script",
      "//www.google-analytics.com/analytics.js",
      "ga"
    );

    ga("create", "UA-58928746-1", "auto");
    ga("send", "pageview");
  </script>
</head>
