---

---

<div class="row">
  <div class="col-7 mx-auto">
    <h6>Teaching</h6>
    <ul>
      <li>
        <b>OMSCS 6475 Computational Photography</b>, TA with Prof. Irfan Essa
      </li>
      <li>
        <b
          ><a href="https://www.cc.gatech.edu/~hays/compvision/"
            >CS 4476/6476 Fall 2017</a
          > Computer Vision</b
        >, TA with Prof. James Hays
      </li>
      <li>
        <b>CS 4476/6476 Fall 2016 Computer Vision</b>, TA with Prof. James Hays
      </li>
    </ul>
  </div>
</div>
